.role-manage {
  .role-manage-tool {
    width: 300px;
  }
  ::ng-deep .ant-card {
    height: 100%;
    .ant-card-body {
      height: calc(100% - 121px);
    }
  }
}

.role-manage-modal {
  ::ng-deep .ant-card {
    box-shadow: none;
  }
  ::ng-deep .ant-divider-horizontal.ant-divider-with-text-left {
    font-size: 14px;
  }
}
