<div class="update-password-first-login">
        <div class="container">
            <div class="head">
                <div class="left">
                    设置密码
                </div>
                <!-- <div class="right">
                    <a (click)="comeBack()">返回</a>
                </div> -->
            </div>
            <div class="content">
                <div class="card">
                    <div class="card-list" nz-row>
                        <div nz-col nzSpan=4>
                            用户名
                        </div>
                        <div nz-col nzSpan=20>
                            <input maxlength="30" nz-input [(ngModel)]="userName" (keyup)="keyupEvent($event)">
                        </div>
                    </div>
                    <div class="card-list" nz-row>
                        <div nz-col nzSpan=4>
                            密码
                        </div>
                        <div nz-col nzSpan=20>
                            <input maxlength="30" nz-input [(ngModel)]="password" type="password" (keyup)="keyupEvent($event)">
                        </div>
                    </div>
                    <div class="card-function">
                        <button nz-button nzType="primary" style="margin-left: 20px;width: 200px;" (click)="ChangePasswordOnFirstLogin()">保存</button>
                    </div>
                </div>
                <!-- <span class="hiddenLeft" (click)='async1()'> </span> <span class="hiddenRight" (click)='async2()'> </span> -->
            </div>
        </div>
    </div>