.login-log {
  ::ng-deep .ant-card {
    height: 100%;
    .ant-card-body {
      height: calc(100% - 121px);
    }
  }
  .browserInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
  }
  .table-danger {
    color: #ee3b3b;
  }
  .login-log-tool {
    width: 300px;
  }
}
