.update-password {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
  
    .container {
      width: 1500px;
      height: 100%;
      background-color: white;
      box-shadow: 0px 0px 8px #ddd;
      position: relative;
  
      .head {
        height: 60px;
        line-height: 60px;
        padding: 0px 20px;
        overflow: hidden;
        border-bottom: 1px solid #e8e8e8;
  
        .left {
          font-size: 16px;
          float: left;
          color: #333333;
        }
  
        .right {
          float: right;
        }
      }
  
      .content {
        height: calc(100% - 60px);
        display: flex;
        justify-content: center;
        // align-items: center;
  
        .card {
          width: 500px;
          height: 300px;
          margin-top: 45px;
  
          .card-img {
            height: 100px;
  
            .img {
              margin: 0 auto;
              height: 100px;
              width: 100px;
              border-radius: 100px;
              cursor: pointer;
            //   background-image: url("./../../../assets/images/project/lxq.jpg");
              background-repeat: no-repeat;
              background-size: 100% 100%;
  
              &:hover {
                box-shadow: 0px 0px 8px #ddd;
              }
            }
          }
  
          .card-text {
            text-align: center;
            height: 30px;
            line-height: 30px;
          }
  
          .card-list {
            height: 60px;
            line-height: 32px;
          }
  
          .card-function {
            text-align: center;
          }
        }
        .hiddenLeft {
          display: inline-block;
          width: 10px;
          height: 10px;
          cursor: pointer;
          position: absolute;
          left: 0;
          bottom: 0;
        }
        .hiddenRight {
          display: inline-block;
          width: 10px;
          height: 10px;
          cursor: pointer;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
  