<div class="update-password">
    <div class="container">
        <div class="head">
            <div class="left">
                修改密码
            </div>
            <!-- <div class="right">
                <a (click)="comeBack()">返回</a>
            </div> -->
        </div>
        <div class="content">
            <div class="card">
                <div class="card-list" nz-row>
                    <div nz-col nzSpan=4>
                        原密码
                    </div>
                    <div nz-col nzSpan=20>
                        <input maxlength="30" nz-input [(ngModel)]="oldPassword" type="password">
                    </div>
                </div>
                <div class="card-list" nz-row>
                    <div nz-col nzSpan=4>
                        新密码
                    </div>
                    <div nz-col nzSpan=20>
                        <input maxlength="30" nz-input [(ngModel)]="newPassword" type="password">
                    </div>
                </div>
                <div class="card-list" nz-row>
                    <div nz-col nzSpan=4>
                        确认密码
                    </div>
                    <div nz-col nzSpan=20>
                        <input maxlength="30" nz-input [(ngModel)]="newPasswordConfirm" type="password">
                    </div>
                </div>
                <div class="card-function">
                    <button nz-button nzType="default" (click)="reset()">重置</button>
                    <button nz-button nzType="primary" style="margin-left: 20px" (click)="preservation()">保存</button>
                </div>
            </div>
            <!-- <span class="hiddenLeft" (click)='async1()'> </span> <span class="hiddenRight" (click)='async2()'> </span> -->
        </div>
    </div>
</div>