<div class="system-monitor page-container">
    <div nz-row nzGutter="16">
        <div nz-col nzSpan="12">
            <nz-card nzTitle="Card title">
                <nz-descriptions nzBordered>
                    <nz-descriptions-item nzTitle="Product">Cloud Database</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Billing Mode">Prepaid</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Order Time">
                        2018-04-24 18:00:00
                    </nz-descriptions-item>
                </nz-descriptions>
            </nz-card>
        </div>
        <div nz-col nzSpan="12">
            <nz-card nzTitle="Card title">
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </nz-card>
        </div>
    </div>
</div>